*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
/* .onion{
  background-image: url("./hands.jpg" );
  background-size: cover;
  height: 100vh;
 
  background-repeat: no-repeat;
} */
#title{
  color: rgb(192, 21, 8);
  font-weight: bold;
  font-size: larger;
  text-align: center;
  border-bottom: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  margin: -14px;
}


.title{
  text-align: center;
  font-weight: bold;
  border-bottom: solid black;
  background-color: antiquewhite;
  margin: -5px;

}
.list{
  background-color: gray;
  margin-left: -8px;
  margin-right: -8px;
}
.banana,.peach,.enchilada{
  margin: 8px;
  padding: 5px;
  border: 5px;
  
}
.body{
  background-color: rgba(194, 183, 183, 0.233);
}
#Banana,#Enchilada,#Peach{
  background-color: rgb(245, 245, 238);
  border-bottom: dotted black;
}

.Description{
  color: rgb(38, 0, 255);
  font-weight: bold;
  text-align: center;
}
.ingredients{
  color: blue;
  font-weight: bold;
}
.steps{
  color: rgb(99, 6, 6);
  font-weight: bold;
}
.image-box{
  background-image: url("./recipes/images/Banana-pudding.webp");
 
}
.banana-ingredients{
    padding-top: 5px;
    background-color: rgb(241, 160, 241);
    margin: -8px;
    border-top: solid rgb(78, 70, 61);
    border-bottom: solid rgb(92, 86, 78) ;
}
.Enchilada-image{
  background-image: url("./recipes/images/Enchilada-Casserole.webp");
   
}
.Enchilada-image,.image-box,.Peach-image{
  background-repeat: no-repeat;
  height: 450px;
  width: 450px;
  display: inline-block;
  margin-left:200px ;
  border: solid black;
}
